@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");
:root {
	--text: #0000;
	--bg: #f2fdfd;
	--priBtn: #b8958e;
	--secBtn: #000000;
	--Accent: #8a6056;
}

::selection {
    background-color: rgb(207, 202, 202) !important;
    text:var(--text);
}




* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #eff4f5 !important;
	color:#000 !important;
	font-family: "Montserrat", sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

i {
	font-size: 60px;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.Displayname {
	font-size: 70px;
	font-weight: bold;
	background-color: #eff4f5;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: "Montserrat", sans-serif;

	text-align: center;
	/* background: linear-gradient(
		to right bottom,
		#ffffff,
		#e8e6ff,
		#cfceff,
		#b1b7ff,
		#8ea1ff,
		#7c94fe,
		#6987fc,
		#527afa,
		#5c70f6,
		#6565f0,
		#6f5aea,
		#794de3
	); */
	color: #000;
	background-clip: text;
	/* text-fill-color: transparent; */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	animation: shine 11s linear infinite;
	@keyframes shine {
		to {
			background-position: 200% center;
		}
	}
}

.aboutImg {
	-webkit-box-shadow: 10px 0px 93px -8px rgba(184, 149, 142, 0.63);
	-moz-box-shadow: 10px 0px 93px -8px rgba(184, 149, 142, 0.63);
	box-shadow: 10px 0px 93px -8px rgba(184, 149, 142, 0.63);
}

@media only screen and (max-width: 600px) {
	#aboutMe {
		gap: 30px;
	}

	#collegeSection {
		margin-top: 30px;
	}

	#certificateText {
		text-align: center;
	}

	.projects-1 {
		text-align: center;
	}
	.projects-2 {
		text-align: center;
	}
}
